.card {
  padding: 1*$unit 15px;
  @include bp-at-least($bp__md) {
    padding: 3*$unit 15px;
  }
  h1, h2, h3, h4, h5, h6 {
    padding: .5em 0px;
  }
  p {
    font-size: 17px;
    // padding: 0 0 1em;
  }
  .btn {
    // width: 60%;
    border-radius: 25px;
  }
  img {
    display: block;
    padding: 1em 0;
  }
}

.card__center {
  text-align: center;
  span.icon-contractor-locator,
  span.icon-product-selector,
  span.icon-product-selector-hotwater,
  span.icon-product-selector-state {
    color: $brandPrimary;
    font-size: 250px;
  }
  .btn {
    margin-top: 1em;
  }
}