.page-divider {
  position: relative;
  padding: 2*$unit 0;
  background-color: $brandPrimary;
  h3 {
    color: $white;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    // padding-bottom: .5em;
    span {
      color: $white;
    }
  }
  p {
    color: $white;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 1em;
  }
}