{% extends "default.html" %}

{% block content %}
<div class="hero">
		<div class="container-fluid">
				<div class="container landing-overview-content">
						<h1>Welcome to Amperstrap</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quam sem, blandit sed metus sed, vehicula tincidunt velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec vel mi non sapien lacinia imperdiet. Morbi fringilla vestibulum eros ut tempus.</p>
						<div class="btn-block">
							<a class="btn">First Button</a>
							<a class="btn btn--secondary-ghost">Second Button</a>
						</div>
				</div>
		</div>
</div>

<div class="container-fluid">
	<div class="container content-block">
		<h1>Welcome to Amperstrap</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quam sem, blandit sed metus sed, vehicula tincidunt velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec vel mi non sapien lacinia imperdiet. Morbi fringilla vestibulum eros ut tempus.</p>
	</div>
</div>

{% endblock %}