.btn {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  padding: .5em 0;
  background: $brandSecondary;
  color: $white;
  outline: 0;
  border: 1px solid $brandSecondary;
  font-family: $sans-serif;
  text-decoration: none;
  text-align: center;
  transition: background 400ms;
  font-weight: 400;
  border-radius: 0px;
  font-size: 20px;
  line-height: 28px;
  width: 100%;
  white-space: normal;
  @include bp-at-least($bp__md) {
    padding: .5em 2em;
    // min-width: 250px;
    width: auto;
  }
  &:visited{
    color: $white;
  }
  &:hover{
    background: $brandSecondaryLight;
    border: 1px solid $brandSecondaryLight;
    color: $white;
  }
  &:disabled,
  &[disabled=disabled]{}
  &:active{
    color: $white;
    background: $brandSecondary;
  }
  &.full-width {
    width: 100%;
  }
}

.btn--primary {
  background: $brandPrimary;
  color: $white;
  border: 1px solid $brandPrimary;
  &:visited{
    color: $white;
  }
  &:hover{
    background: $brandPrimaryLight;
    border: 1px solid $brandPrimaryLight;
    color: $white;
  }
  &:disabled,
  &[disabled=disabled]{}
  &:active{
    color: $white;
    background: $brandPrimary;
  }
}

.btn--secondary {
  background: $brandSecondary;
  color: $white;
  border: 1px solid $brandSecondary;
  &:visited{
    color: $white;
  }
  &:hover{
    background: $brandSecondaryLight;
    border: 1px solid $brandSecondaryLight;
    color: $white;
  }
  &:disabled,
  &[disabled=disabled]{}
  &:active{
    color: $white;
    background: $brandSecondary;
  }
}


.btn--ghost{
  background: transparent;
  border: 1px solid $black;
  color: $black;
  &:visited{
    color: $black;
  }
  &:hover{
    color: $white;
    background-color: $black;
    border: 1px solid $black;
  }
  &:disabled,
  &[disabled=disabled]{}
  &:active{
    color: $white;
    background: $black;
  }
}

.btn--ghost-invert{
  background: transparent;
  border: 1px solid $white;
  color: $white;
  &:visited{
    color: $white;
  }
  &:hover{
    color: $black;
    background-color: $white;
    border: 1px solid $white;
  }
  &:disabled,
  &[disabled=disabled]{}
  &:active{
    color: $white;
    background: $white;
  }
}

.btn--primary-ghost{
  background: transparent;
  border: 1px solid $brandPrimary;
  color: $brandPrimary;
  // text-transform: uppercase;
  font-weight: 400;
  &:visited{
    color: $brandPrimary;
  }
  &:hover{
    color: $white;
    border: 1px solid mix($brandPrimary, $white, 85%);
    background: $brandPrimary;
  }
  &:disabled,
  &[disabled=disabled]{}
  &:active{
    color: $white;
    background: $brandPrimary;
  }
}

.btn--secondary-ghost{
  background: transparent;
  border: 1px solid $brandSecondary;
  color: $brandSecondary;
  // text-transform: uppercase;
  font-weight: 400;
  &:visited{
    color: $brandSecondary;
  }
  &:hover{
    color: $white;
    border: 1px solid mix($brandSecondary, $white, 85%);
    background: $brandSecondary;
  }
  &:disabled,
  &[disabled=disabled]{}
  &:active{
    color: $white;
    background: $brandSecondary;
  }
}